<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.entity.Course">
        <constructor>
            <arg column="CId" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="Cname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="TId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.entity.Course">
    insert into course (CId, Cname, TId
      )
    values (#{cid,jdbcType=VARCHAR}, #{cname,jdbcType=VARCHAR}, #{tid,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.entity.Course">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                CId,
            </if>
            <if test="cname != null">
                Cname,
            </if>
            <if test="tid != null">
                TId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                #{cid,jdbcType=VARCHAR},
            </if>
            <if test="cname != null">
                #{cname,jdbcType=VARCHAR},
            </if>
            <if test="tid != null">
                #{tid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>