<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.entity.Student">
        <constructor>
            <arg column="SId" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="Sname" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="Sage" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="Ssex" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="com.entity.Student">
    insert into student (SId, Sname, Sage, 
      Ssex)
    values (#{sid,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, #{sage,jdbcType=TIMESTAMP}, 
      #{ssex,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.entity.Student">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                SId,
            </if>
            <if test="sname != null">
                Sname,
            </if>
            <if test="sage != null">
                Sage,
            </if>
            <if test="ssex != null">
                Ssex,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sid != null">
                #{sid,jdbcType=VARCHAR},
            </if>
            <if test="sname != null">
                #{sname,jdbcType=VARCHAR},
            </if>
            <if test="sage != null">
                #{sage,jdbcType=TIMESTAMP},
            </if>
            <if test="ssex != null">
                #{ssex,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="findBySid" parameterType="string" resultType="com.entity.Student">
        select * from student where Sid = #{sid}
    </select>

    <select id="findBySname" parameterType="string" resultType="com.entity.Student">
        select * from student where Sid = #{sname}
    </select>

    <select id="listAll" resultType="com.entity.Student">
        select * from student
    </select>
</mapper>